*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 70px;
    display: grid;
    place-items: center; 
    background-color: rgba(157, 0, 0, 1);
}

img {
    max-width: 300px;
    max-height: 300px;
}

body {
    background-color: yellow;
}

.containerProdutos {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

#imgProduto {
    border-radius: 30px;
}